.app-title {
    letter-spacing: 0.7em;
    margin-top: 20% !important;
    text-align: center;
}

.block {
    display: block;
}

.card {
    border-radius: 10%;
}

.center-block {
    text-align: center;
    display: block;
}

.character {
    display: block;
    margin: 1em auto !important;
}

.grail {
    float: left;
    height: 133px;
    margin: 1em !important;
    width: 91px;
}

.highlighted {
    color: #AFCBFB;
}

.muted {
    color: gray;
}

.mt43 {
    margin-top: 43px;
}

.pt1 {
    padding-top: 1em;
}

.pt2 {
    padding-top: 2em;
}

.selected {
    box-shadow: 2px 2px 2px 2px black;
}

.user-picture {
    border-radius: 50%;
    display: block;
    height: 128px;
    margin: 1em auto;
    width: 128px;
}

ion-modal-view {

    h5 {
        text-align: center;
        display: inline-block;
    }

    p {
        text-align: center;
    }

    .small {
        border-radius: 50%;
        display: inline-block;
        height: 28px;
        width: 28px;
    }

    ul {
        list-style-type: none;
    }
}

player {

    float: left;

    h5 {
        padding: 0;
        text-align: center;
    }

    img {
        border-radius: 50%;
        margin: 0 1em;
        height: 58px;
        width: 58px;
    }
}
