<div class="block">
    <form class="pt1">

        <div class="muted center-block pt2"
            ng-if="game.currentGamePhase === 'team building' && !myTurn">
            <ion-spinner></ion-spinner>  Wating for {{ game.currentPlayerTurn.displayName }} to propose a team...
        </div>
        <div class="muted center-block"
            ng-if="game.currentGamePhase === 'team voting' && !user.needToVoteForTeam">
            <ion-spinner></ion-spinner>
            Waiting for other players to vote: {{ game.currentQuestApproves + game.currentQuestRejects }}/{{ game.size }}
        </div>
        <div class="muted center-block"
            ng-if="game.currentGamePhase === 'quest voting' && !user.needToVoteForTeam">
            <ion-spinner></ion-spinner>
            Waiting for other players to finish quest: {{ game.currentQuestSuccess + game.currentQuestFail }}/{{ game.currentQuestPlayersNeeded }}
        </div>
        <div class="muted center-block"
            ng-if="game.currentGamePhase === 'using lady' && user._id !== game.currentLadyOfTheLake._id">
            <ion-spinner></ion-spinner>
            Waiting for Lady of the Lake...
        </div>
        <div class="muted center-block"
            ng-if="game.currentGamePhase === 'guess Merlin' && user.character !== 'Assassin'">
            <ion-spinner></ion-spinner>
            Waiting for the Assassin to guess Merlin...
        </div>

        <button
            class="button button-block button-assertive"
            ng-if="game.currentVoteTrack === 4">
            Warning: evil wins if this quest is rejected!
        </button>

        <button
            class="button button-block button-positive"
            ng-disabled="!ableToBegin()"
            ng-if="isHost()"
            ng-hide="!game.waitingToPlay"
            ng-click="startGame()">
            Begin Game
        </button>
        <a
            class="button button-block button-light"
            ng-click="voteApprove()"
            ng-if="(game.currentGamePhase === 'team voting') && user.needToVoteForTeam">
            Approve
        </a>
        <a
            class="button button-block button-dark"
            ng-click="voteReject()"
            ng-if="(game.currentGamePhase === 'team voting') && user.needToVoteForTeam">
            Reject
        </a>
        <a
            class="button button-block button-energized"
            ng-click="successQuest()"
            ng-if="(game.currentGamePhase === 'quest voting') && user.onQuest && user.needToVoteOnQuest">
            Success
        </a>
        <a
            class="button button-block button-assertive"
            ng-click="failQuest()"
            ng-disabled="user.loyalty==='good'"
            ng-if="(game.currentGamePhase === 'quest voting') && user.onQuest && user.needToVoteOnQuest">
            Fail
        </a>
        <button
            class="button button-block button-positive"
            ng-click="proposeTeam()"
            ng-disabled="disablePropose()"
            ng-if="myTurn && (game.currentGamePhase === 'team building')">
            Propose Team
        </button>
        <a
            class="button button-block button-stable"
            ng-if="myTurn && (game.currentGamePhase === 'team building')"
            ng-click="resetTeam()">
            Reset Team
        </a>
        <button
            class="button button-block button-calm"
            ng-click="useLady()"
            ng-disabled="disableLady(user)"
            ng-if="(user._id === game.currentLadyOfTheLake._id) && (game.currentGamePhase === 'using lady')">
            Use Lady
        </button>

        <button class="button button-block button-energized" ng-if="game.currentGamePhase==='guess merlin'">
            Good has prevailed, but now evil may guess Merlin
        </button>
        <button
            class="button button-block button-assertive"
            ng-click="guessMerlin()"
            ng-disabled="disableGuessMerlin()"
            ng-if="user.character === 'Assassin' && (game.currentGamePhase === 'guess merlin')">
            Guess Merlin
        </button>
        <a class="button button-block button-assertive" ng-if="game.currentGamePhase==='end evil wins'" ui-sref="lobby({ uid:user._id })">
            Evil wins! Tap to return to Lobby
        </a>
        <a class="button button-block button-positive" ng-if="game.currentGamePhase==='end good wins'" ui-sref="lobby({ uid:user._id })">
            Good wins! Tap to return to Lobby
        </a>
        <a class="button button-block button-assertive" ng-if="game.currentGamePhase==='end evil guessed merlin'" ui-sref='lobby({ uid:user._id })'>
            Evil Guessed Merlin! Evil Wins - tap to return to Lobby
        </a>

    </form>
</div>
