<h5>{{ player.displayName }}</h5>
<img ng-src="{{ player.picture }}" ng-click="select(player._id)" ng-class="{selected: isSelected(player._id)}" />
<!-- <img ng-src="{{ player.picture }}" ng-class="{activeShadow: (game.currentPlayerTurn._id === player._id)}" /> -->


<!-- Player -->
<!-- <h5>
    <span>{{ player.displayName }}</span> -->
    <!-- Lady -->
    <!-- <img ng-src="/img/lady_of_the_lake.png"
        ng-if="game.currentLadyOfTheLake._id === player._id"
        class="lady game-piece card" /> -->
<!-- </h5> -->
<!-- Character -->
<!-- <img class="character game-piece card"
	ng-src="{{ player.imageUrl }}"
	ng-if="me(player) || (game.currentGamePhase.slice(0, 3) === 'end') || (game.currentGamePhase === 'guess merlin' && player.loyalty === 'evil' && player.character !== 'Oberon')" /> -->
<!-- Approve -->
<!-- <img ng-src="/img/approve.png"
	ng-if="player.approvedQuest && (game.currentGamePhase === 'quest voting' || game.currentGamePhase === 'team building')"
	ng-hide="(game.currentQuestIdx === 0 && game.currentVoteTrack === 0 && game.currentGamePhase === 'team building')"
	class="voteToken game-piece token" /> -->
<!-- Reject -->
<!-- <img ng-src="/img/reject.png"
	ng-if="!player.approvedQuest && (game.currentGamePhase === 'quest voting' || game.currentGamePhase === 'team building')"
	ng-hide="(game.currentQuestIdx === 0 && game.currentVoteTrack === 0) && game.currentGamePhase === 'team building'"
	class="voteToken game-piece token" /> -->
<!-- Sigil -->
<!-- <img ng-src="/img/sigil.png"
	ng-if="player.onQuest"
	class="sigil game-piece token" /> -->

<!-- <div>
	<a name="addToTeam"
		ng-if="myTurn && game.roomLeftOnTeam && (game.currentGamePhase === 'team building') && !player.onQuest"
		href="#"
		class="button button-small button-outline button-positive"
		ng-click="addToTeam(player)">
		<i class="fa fa-plus"></i> Add to Team
	</a>
	<a name="guessMerlin"
		ng-if="user.character === 'Assassin' && (game.currentGamePhase === 'guess merlin') && (player.loyalty === 'good' || player.character === 'Oberon')"
		href="#"
		class="selectPlayer"
		ng-click="guessMerlin(player)">
		Guess Merlin</a>
	<a name="useLady"
		ng-if="(user._id === game.currentLadyOfTheLake._id) && (game.currentGamePhase === 'using lady') && (!player.hasBeenLadyOfTheLake) && (player._id !== user._id)"
		href="#"
		class="selectPlayer"
		ng-click="useLady(player)">
		<span class="glyphicon glyphicon-eye-open"></span>
		Use Lady of the Lake</a>
</div>
 -->
