<ion-modal-view>
    <ion-content class="padding">
        <img ng-src="{{user.imageUrl}}" class="card character" />

        <div ng-if="user.character==='Servant of Arthur'" class="muted">
            <p>
                For years, you have served as a loyal servant of Arthur.
                However, lately there are rumours of treachery in the ranks of the knights...
            </p>
        </div>

        <div ng-if="user.character==='Minion of Mordred'" class="muted">
            <p>
                A callous minion of Mordred, your goal is to sow confusion and mistrust amongst the knights of Arthur...
                <br /><br />
                Your fellow agents of evil:
            </p>
            <div class="list">
                <a class="item item-avatar" ng-repeat="player in game.players" ng-if="(user.loyalty==='evil') && (player.loyalty==='evil') && (player.character !=='Oberon') && (user._id !== player._id)">
                    <img class="small" ng-src="{{ player.picture }}" />
                    {{ player.displayName }}
                </a>
            </div>
        </div>

        <div ng-if="user.character==='Merlin'" class="muted">
            <p>
                Ageless and possessing unbounded wisdom - if your identity is compromised, all hope for Camelot is lost...
                <br /><br />
                You see through the disguises of Mordred's minions:
            </p>
            <div class="list">
                <a class="item item-avatar" ng-repeat="player in game.players" ng-if="(user.character==='Merlin') && (player.loyalty==='evil') && (player.character !=='Mordred')">
                    <img class="small" ng-src="{{ player.picture }}" />
                    {{ player.displayName }}
                </a>
            </div>

        </div>

        <div ng-if="user.character==='Percival'" class="muted">
            <p>
                One of Arthur's most trusted knights, gifted with a sixth sense for the mystical...
                <br /><br />
                You sense the arcane disguises of the wizards:
            </p>
            <div class="list">
                <a class="item item-avatar" ng-repeat="player in game.players" ng-if="(user.character==='Percival') && (player.character==='Morgana' || player.character==='Merlin')">
                    <img class="small" ng-src="{{ player.picture }}" />
                    {{ player.displayName }}
                </a>
            </div>
        </div>

        <div ng-if="user.character==='Mordred'" class="muted">
            <p>
                Ancient nemesis of Merlin, seeking to plunge Camelot into a new age of darkness...
                <br /><br />
                Your loyal minions:
            </p>
            <div class="list">
                <a class="item item-avatar" ng-repeat="player in game.players" ng-if="(user.loyalty==='evil') && (player.loyalty==='evil') && (player.character !=='Oberon') && (user._id !== player._id)">
                    <img class="small" ng-src="{{ player.picture }}" />
                    {{ player.displayName }}
                </a>
            </div>
        </div>

        <div ng-if="user.character==='Morgana'" class="muted">
            <p>
                A proud sorceress from a distant land, and would-be rival to Merlin...
                <br /><br />
                Your fellow agents of evil:
            </p>
            <div class="list">
                <a class="item item-avatar" ng-repeat="player in game.players" ng-if="(user.loyalty==='evil') && (player.loyalty==='evil') && (player.character !=='Oberon') && (user._id !== player._id)">
                    <img class="small" ng-src="{{ player.picture }}" />
                    {{ player.displayName }}
                </a>
            </div>
        </div>

        <div ng-if="user.character==='Oberon'" class="muted">
            <p>
                A chaotic spirit from the deepest forest, enemy to the encroaching humans of Camelot...
            </p>
        </div>

        <div ng-if="user.character==='Assassin'" class="muted">
            <p>
                Mordred's most feared assassin, bearing the dagger of Merlin's bane...
                <br /><br />
                Your fellow agents of evil:
            </p>
            <div class="list">
                <a class="item item-avatar" ng-repeat="player in game.players" ng-if="(user.loyalty==='evil') && (player.loyalty==='evil') && (player.character !=='Oberon') && (user._id !== player._id)">
                    <img class="small" ng-src="{{ player.picture }}" />
                    {{ player.displayName }}
                </a>
            </div>
        </div>

        <button class="button button-block button-light" ng-click="closeGameStartModal()">Close</button>
    </ion-content>
</ion-modal-view>
