<ion-view view-title="{{ game.name }}">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive" ui-sref="lobby({ uid: user._id })">Lobby</button>
    </ion-nav-buttons>
    <ion-tabs class="tabs-light tabs-icon-top">

        <ion-tab title="Table" icon-on="ion-ios-keypad" icon-off="ion-ios-keypad-outline">
        <!-- Table Content -->
            <ion-content class="padding has-footer has-header">
                <div ng-repeat="player in game.players | byTurnOrder:turnOrder">
                    <player></player>
                </div>
                <buttons></buttons>
            </ion-content>
            <ion-footer-bar class="bar-subfooter">
                <div class="list" ng-if="!game.waitingToPlay">
                    <a class="item">
                        Vote Track
                        <span class="badge badge-calm" ng-if="game.currentVoteTrack < 3">{{ game.currentVoteTrack }}</span>
                        <span class="badge badge-energized" ng-if="game.currentVoteTrack === 3">{{ game.currentVoteTrack }}</span>
                        <span class="badge badge-assertive" ng-if="game.currentVoteTrack === 4">{{ game.currentVoteTrack }}</span>
                    </a>
                </div>
            </ion-footer-bar>
        </ion-tab>

        <ion-tab title="Knowledge" icon-on="ion-ios-information" icon-off="ion-ios-information-outline">
        <!-- Knowledge Content -->
            <ion-content class="padding mt43">
                <div class="item item-divider">Your Character</div>
                <div class="list">
                    <div class="item">
                        <img ng-src="{{user.imageUrl}}" class="card character" />
                    </div>

                    <div class="item item-divider">Knowledge About Other Players</div>
                    <a class="item" class="item item-icon-left" ng-if="investigatedPlayer">
                        <i class="fa fa-eye"></i>
                        {{ investigatedPlayer.displayName }} is {{ investigatedPlayer.loyalty }}
                    </a>
                    <span ng-repeat="player in game.players">
                        <a class="item" ng-if="(user.character==='Percival') && (player.character==='Morgana' || player.character==='Merlin')">
                            <i class="fa fa-eye"></i>
                            {{ player.displayName }} is a wizard
                        </a>
                        <a class="item" ng-if="(user.loyalty==='evil') && (player.loyalty==='evil') && (player.character !=='Oberon') && (user._id !== player._id)">
                            <i class="fa fa-eye"></i>
                            {{ player.displayName }} is a fellow agent of evil
                        </a>
                        <a class="item" ng-if="(user.character==='Merlin') && (player.loyalty==='evil') && (player.character !=='Mordred')">
                            <i class="fa fa-eye"></i>
                            {{ player.displayName }} is an agent of evil
                        </a>
                    </span>

                    <div class="item item-divider">Quests</div>
                    <a class="item item-thumbnail-left" ng-repeat="quest in game.quests">
                        <img src="/img/good_token.png" ng-if="quest.status === 'success'">
                        <img src="/img/evil_token.png" ng-if="quest.status === 'fail'">
                        <h2>Quest # {{ quest.questNumber }} <span ng-if="quest.toFail > 1">(2 fails)</span></h2>
                        <p ng-if="!quest.status">{{ quest.playersNeeded }} Players Needed</p>
                    </a>
                </div>
            </ion-content>
        </ion-tab>


        <ion-tab title="Chat" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline">
        <!-- Chat Content -->
            <ion-content class="padding has-footer has-header">
                <chats></chats>
            </ion-content>
            <ion-footer-bar class="bar-subfooter">
                <div class="list">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" ng-model="message.text" placeholder="Enter your message" />
                        </label>
                        <button class="button button-small button-positive" ng-click="addMessage(message)">
                            Submit
                        </button>
                    </div>
                </div>
            </ion-footer-bar>
        </ion-tab>


    </ion-tabs>
</ion-view>
